#author {
  .author-details {
    margin-top: 50px;
    text-align: center;
    h3 {
      text-transform: uppercase;
      color: #000;
      font-size: 22px;
      margin-bottom: 32px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    p {
      font-size: 14px;
      line-height: 25px;
      width: 90%;
      margin: auto;
      margin-bottom: 18px;
    }

    .author-sign {
      margin: 24px 32px;
    }

    .author-socials {
      a {
        margin: 0 18px;
        color: #858484;
        transition: 0.3s ease-in;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
