#featured-blogs {
  .blogs {
    .blog {
      .blog-thumb-container {
        overflow: hidden;
        transition: 0.2s ease-in-out;
        margin-bottom: 40px;
        .blog-thumb {
          transition: 0.2s ease-in-out;
        }
      }
      .blog-details {
        .blog-headline {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.7px;
          color: #000;
        }
        .blog-info {
          font-size: 13px;
          text-transform: uppercase;
          color: #727272;
        }
        .blog-text {
          margin-top: 16px;
          font-size: 14px;
          color: #727272;
          line-height: 28px;
        }
      }
      &:hover {
        .blog-thumb {
          transition: all 0.4s ease;
          transform: scale(1.04, 1.04) rotate(-1deg);
        }
      }
    }
    .all-posts-btn-container {
      text-align: center;
      margin-top: 24px;
      .all-posts-btn {
        font-size: 12.5px;
      }
    }
  }
}
