.blogs {
  .blog {
    .blog-thumb-container {
      overflow: hidden;
      transition: 0.2s ease-in-out;
      margin-bottom: 30px;
      .blog-thumb {
        transition: 0.2s ease-in-out;
        height: 260px;
        object-fit: cover;
      }
    }
    .blog-details {
      .blog-headline {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .blog-info {
        font-size: 13px;
        text-transform: uppercase;
        color: #727272;
      }
    }
    &:hover {
      .blog-thumb {
        transition: all 0.4s ease;
        transform: scale(1.04, 1.04) rotate(-1deg);
      }
    }
  }
  .all-posts-btn-container {
    text-align: center;
    margin-top: 60px;
    .all-posts-btn {
      font-size: 12.5px;
    }
  }
}

.blog-content-container {
  .featured-image {
    height: 500px;
    object-fit: cover;
  }
  .blog-content {
    margin: 70px 0;
    .info {
      margin-bottom: 40px;
    }
  }
}
